# Import base-level build configuration.
import %workspace%/../default.bazelrc

# TODO(eric.cousineau): Hoist these testing options to top-level.

# Signal that ROS logging to file system needs to be disabled in tests
test --test_env=ROS_HOME=/does_not_exist/instead_please_reconfigure_in_test
# Disable ROS communication with other machines
test --test_env=ROS_LOCALHOST_ONLY=1

# Try to import user-specific configuration local to workspace.
try-import %workspace%/user.bazelrc
