# Import base-level build configuration.
import %workspace%/../default.bazelrc

# Default to using pkg-config to locate C++ library dependencies.
common --@drake//tools/flags:public_repo_default=pkgconfig
common --@drake//tools/flags:private_runtime_repo_default=external

# Try to import user-specific configuration local to workspace.
try-import %workspace%/user.bazelrc
