# Use C++17.
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17

# Put ROS logs into /tmp
build --action_env=ROS_HOME=/tmp/.ros

# Default test options.
test --test_output=errors
test --test_summary=terse

# Try to import user-specific configuration local to workspace.
try-import %workspace%/user.bazelrc
