name: Bazel ROS 2 rules Continuous Integration

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  bazel_build_and_test:
    if: "! contains(github.event.pull_request.labels.*.name, 'status: defer ci')"
    runs-on: ubuntu-latest
    container:
      image: ros:rolling-ros-base-jammy
      # This is required for running lldb.
      # See https://stackoverflow.com/a/73613377/7829525
      options: --cap-add=SYS_PTRACE --security-opt seccomp=unconfined
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: "/home/runner/.cache/ci"
          key: bazel
      - name: Simplify apt upgrades
        run: .github/simplify_apt_and_upgrades.sh
      - name: Configure Bazel for CI
        run: ln -s ../.github/ci.bazelrc ./user.bazelrc
        working-directory: ros2_example_bazel_installed
      - name: Install prerequisites
        run: yes | ./setup/install_prereqs.sh
        working-directory: ros2_example_bazel_installed
      # Place this before main build.
      # TODO(eric.cousineau): Remove this pending resolution of #107.
      - name: Check direct runs via runfiles
        run: ./setup/runfiles_direct_test.sh
        working-directory: ros2_example_bazel_installed
      - name: Test lint
        run: ./fix_bazel_lint.sh --test
        working-directory: .
      - name: Build Bazel workspace
        run: bazel build //...
        working-directory: ros2_example_bazel_installed
      - name: Test Bazel workspace
        run: bazel test //... @ros2//...
        working-directory: ros2_example_bazel_installed
