name: drake_model_interop Continuous Integration

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

defaults:
  run:
    working-directory: drake_model_interop

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    container:
      image: ros:noetic-ros-base-focal
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: "/home/runner/.cache/model-interop"
          key: model_interop
      - name: Install prerequisites
        run: yes | ./setup/install_prereqs.sh
